body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: lightblue;
}
h1 {
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 20px;
}
.add-btn {
  background-color: blueviolet;
  height: 100px;
  width: 2em;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}
.remove-btn {
  background-color: red;
  height: 100px;
  width: 2em;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}
.boxApp {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 40px;
  justify-content: center;
  padding: 50px;
}
.note {
  padding: 17px;
  border-radius: 15px;
  resize: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  height: 200px;
  color: darkblue;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.note:hover,
.note:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}
button:hover {
  background: yellowgreen;
  color: rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
}
